node_modules
.env
coverage
coverage.json
typechain
.DS_STORE

# Hardhat files.
cache

# Only keep important contracts' ABIs.
artifacts/*
artifacts/contracts/mocks
!artifacts/contracts
artifacts/contracts/*/*.dbg.json
!artifacts/contracts/*/*V1.json
